<h1>Albums</h1>

<ul>
  <% @albums.each do |album| %>
    <li><%= album.inspect %>
    <%= link_to "Show Album", album_url(album.id) %></li>
  <% end %>
</ul>

<%= link_to "Create new album", new_album_url %>
