<h1>Make Album</h1>

<form action="<%= albums_url %>" method="POST">
  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label for="band_id">Band ID</label>
  <input type="text"
         name="album[band_id]"
         id="band_id"
         value="<%= @album.band_id %>">
  <br>

  <label for="album_name">Album Name</label>
  <input type="text"
         name="album[album_name]"
         id="album_name"
         value="<%= @album.album_name %>">
  <br>

  <input type="submit">
</form>
